# Spotify Credentials (from https://developer.spotify.com/)
SPOTIFY_CLIENT_ID=your_spotify_client_id_here
SPOTIFY_CLIENT_SECRET=your_spotify_client_secret_here
SPOTIFY_REDIRECT_URI=http://localhost:8888/callback

# YouTube Music
# Generate headers using: https://github.com/sigma67/ytmusicapi#set-up
HEADERS_AUTH_PATH=./browser.json